@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Yarbrough's Catering"]</h2>
<h3>@ViewData["ANY PARTY, ANY SIZE, ANY TIME"]</h3>

<div>
    <img src="~/images/sheenansteve.jpg" width="365" height="265" />
    <img src="~/images/chefSteve_1.jpg" />
    <img src="~/images/brothers.jpg" width="265" height="265" />
    <img src="~/images/logo.jpg" width="335" height="265" />


</div>
<p>
    <h3>Yarbrough's Catering is a family run business.</h3><h4>The mastermind could be his wife Sheena, but Steve is the Master Chef. and his brother John has good hair.</h4>
    Chef Steve Yarbrough has been in the restaurant industry for 28 years.
    <br />He has worked with some of the best local caterers in Sacramento including;
    <br /><strong>Magpie, Tule Bistro, Thirteen, and Esquire Grill</strong>.
    <br /> His excellent knowledge of the food scene in Norcal includes <i>Farm to Fork</i> values with fresh local healthy produce and grains.<br />
    And well cared for, happy animals. His promise is to bring these qualities to your every day catering needs.<br />
    His menu includes breakfast options, various types of lunch menus, dinner buffets, high-end plated dinners and more.<br />
    He dedicates himself to <i> Any Party, Any Size, Any Time </i> and welcomes you to his world of delicious, wholesome and creative foods.
</p>
<p>
    <h3>VENUES</h3>
    <h4>Charity</h4>
    <ul>
        <li>#PopUpForaCause "Women's Wellness Center"</li>
        <li>#PopUpForaCause "Skate MD"</li>
    </ul>
    <h4>On-Going</h4>
    <ul>
        <li>Oak Park Farmers Market</li>
        <li>UC Davis Health Farmers Market</li>
    </ul>
</p>
<p>
    <h2> Watch Chef Steve on Good Day Sacramento!</h2><br />
    Part 1 
    <br />

    <iframe scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" 
            src="https://w3.cdn.anvato.net/player/prod/v3/anvload.html?key=eyJtIjoiY2JzIiwidiI6IjQwMTc0MjciLCJhbnZhY2siOiJEVnpsOVFSem94M1pac1A5Yk51NUxpM1g3b2JRT25xUCIsInNoYXJlTGluayI6Imh0dHBzOi8vY2JzbG9jLmFsLzJUajIxYVUiLCJwbHVnaW5zIjp7ImNvbXNjb3JlIjp7ImNsaWVudElkIjoiMzAwMDAyMyIsImMzIjoiZ29vZGRheXNhY3JhbWVudG8uY2JzbG9jYWwuY29tIn0sImRmcCI6eyJjbGllbnRTaWRlIjp7ImFkVGFnVXJsIjoiaHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP3N6PTJ4MiZpdT0vNDEyOC9jdy5nZGF5JmNpdV9zenMmaW1wbD1zJmdkZnBfcmVxPTEmZW52PXZwJm91dHB1dD14bWxfdmFzdDImdW52aWV3ZWRfcG9zaXRpb25fc3RhcnQ9MSZ1cmw9W3JlZmVycmVyX3VybF0mZGVzY3JpcHRpb25fdXJsPVtkZXNjcmlwdGlvbl91cmxdJmNvcnJlbGF0b3I9W3RpbWVzdGFtcF0iLCJrZXlWYWx1ZXMiOnsiY2F0ZWdvcmllcyI6IltbQ0FURUdPUklFU11dIiwicHJvZ3JhbSI6IltbUFJPR1JBTV9OQU1FXV0iLCJzaXRlU2VjdGlvbiI6InZpZGVvLWV4cGVyaWVuY2UifX0sImxpYnJhcnlSZXF1ZXN0ZWQiOnRydWV9LCJoZWFydGJlYXRCZXRhIjp7ImFjY291bnQiOiJjYnNsb2NhbC1nbG9iYWwtdW5pZmllZCIsInB1Ymxpc2hlcklkIjoiY2JzbG9jYWwiLCJqb2JJZCI6InNjX3ZhIiwibWFya2V0aW5nQ2xvdWRJZCI6IjgyM0JBMDMzNTU2NzQ5N0Y3RjAwMDEwMUBBZG9iZU9yZyIsInRyYWNraW5nU2VydmVyIjoiY2JzZGlnaXRhbG1lZGlhLmhiLm9tdHJkYy5uZXQiLCJjdXN0b21UcmFja2luZ1NlcnZlciI6ImNic2RpZ2l0YWxtZWRpYS5kMS5zYy5vbXRyZGMubmV0IiwiY2hhcHRlclRyYWNraW5nIjpmYWxzZSwidmVyc2lvbiI6IjEuNSIsInBhcmVudFBhZ2VVUkwiOiJodHRwczovL2dvb2RkYXlzYWNyYW1lbnRvLmNic2xvY2FsLmNvbS92aWRlby80MDE3NDI3LXlhcmJyb3VnaHMtY2F0ZXJpbmcvIiwicGFyZW50VGl0bGUiOiJZYXJicm91Z2gncyBDYXRlcmluZyDigJMgR29vZCBEYXkgU2FjcmFtZW50byIsInBJbnN0YW5jZSI6InAwIiwicHJvZmlsZSI6ImNicyIsImN1c3RvbVRyYWNraW5nU2VydmVyU2VjdXJlIjoiY2JzZGlnaXRhbG1lZGlhLmQxLnNjLm9tdHJkYy5uZXQifSwiaGVhbHRoQW5hbHl0aWNzIjp7fX0sImh0bWw1Ijp0cnVlLCJ0b2tlbiI6ImRlZmF1bHQifQ%3D%3D" width="640" height="360"></iframe>
    </p>
<p>
    Part 2
    <br />
   
    <iframe scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen"
            src="https://w3.cdn.anvato.net/player/prod/v3/anvload.html?key=eyJtIjoiY2JzIiwidiI6IjQwMTc0MzYiLCJhbnZhY2siOiJEVnpsOVFSem94M1pac1A5Yk51NUxpM1g3b2JRT25xUCIsInNoYXJlTGluayI6Imh0dHBzOi8vY2JzbG9jLmFsLzJSUEhOSmEiLCJwbHVnaW5zIjp7ImNvbXNjb3JlIjp7ImNsaWVudElkIjoiMzAwMDAyMyIsImMzIjoiZ29vZGRheXNhY3JhbWVudG8uY2JzbG9jYWwuY29tIn0sImRmcCI6eyJjbGllbnRTaWRlIjp7ImFkVGFnVXJsIjoiaHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP3N6PTJ4MiZpdT0vNDEyOC9jdy5nZGF5JmNpdV9zenMmaW1wbD1zJmdkZnBfcmVxPTEmZW52PXZwJm91dHB1dD14bWxfdmFzdDImdW52aWV3ZWRfcG9zaXRpb25fc3RhcnQ9MSZ1cmw9W3JlZmVycmVyX3VybF0mZGVzY3JpcHRpb25fdXJsPVtkZXNjcmlwdGlvbl91cmxdJmNvcnJlbGF0b3I9W3RpbWVzdGFtcF0iLCJrZXlWYWx1ZXMiOnsiY2F0ZWdvcmllcyI6IltbQ0FURUdPUklFU11dIiwicHJvZ3JhbSI6IltbUFJPR1JBTV9OQU1FXV0iLCJzaXRlU2VjdGlvbiI6InZpZGVvLWV4cGVyaWVuY2UifX0sImxpYnJhcnlSZXF1ZXN0ZWQiOnRydWV9LCJoZWFydGJlYXRCZXRhIjp7ImFjY291bnQiOiJjYnNsb2NhbC1nbG9iYWwtdW5pZmllZCIsInB1Ymxpc2hlcklkIjoiY2JzbG9jYWwiLCJqb2JJZCI6InNjX3ZhIiwibWFya2V0aW5nQ2xvdWRJZCI6IjgyM0JBMDMzNTU2NzQ5N0Y3RjAwMDEwMUBBZG9iZU9yZyIsInRyYWNraW5nU2VydmVyIjoiY2JzZGlnaXRhbG1lZGlhLmhiLm9tdHJkYy5uZXQiLCJjdXN0b21UcmFja2luZ1NlcnZlciI6ImNic2RpZ2l0YWxtZWRpYS5kMS5zYy5vbXRyZGMubmV0IiwiY2hhcHRlclRyYWNraW5nIjpmYWxzZSwidmVyc2lvbiI6IjEuNSIsInBhcmVudFBhZ2VVUkwiOiJodHRwczovL2dvb2RkYXlzYWNyYW1lbnRvLmNic2xvY2FsLmNvbS92aWRlby80MDE3NDM2LXlhcmJyb3VnaHMtY2F0ZXJpbmctcHQtMi8iLCJwYXJlbnRUaXRsZSI6IllhcmJyb3VnaCdzIENhdGVyaW5nIFB0LjIg4oCTIEdvb2QgRGF5IFNhY3JhbWVudG8iLCJwSW5zdGFuY2UiOiJwMCIsInByb2ZpbGUiOiJjYnMiLCJjdXN0b21UcmFja2luZ1NlcnZlclNlY3VyZSI6ImNic2RpZ2l0YWxtZWRpYS5kMS5zYy5vbXRyZGMubmV0In0sImhlYWx0aEFuYWx5dGljcyI6e319LCJodG1sNSI6dHJ1ZSwidG9rZW4iOiJkZWZhdWx0In0%3D" width="640" height="360"></iframe>
</p>


