@{
    ViewData["Title"] = "Contact";
}<div>
    <img src="~/images/john.jpg" width="265" height="265" />
    <img src="~/images/logo.jpg" width="335" height="265" />
    <img src="~/images/towerbridge.jpg" width="265" height="265" />
</div>
<h1>Contact Us, Like Us, Follow Us</h1>
<br />

<a href="https://www.instagram.com/yarbroughscatering" target="_blank"><img src="~/images/IG_Glyph_Fill_130.png" height="130" width="130" /></a>
<a href="https://www.facebook.com/pg/yarbroughscatering/about/?ref =page_internal" target="_blank"> <img src="~/images/f_logo_RGB-Blue_58.png" height="130" width="130" /></a>
<a href="https://www.pinterest.com/yarbroughscatering" target="_blank"> <img src="~/images/badgeRGB-244px.png" height="130" width="130" /></a>

<br />
<br />

<h3>Direct Contact: </h3>

    Cell: (916) 470-6314




