@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/11.jpg" width="265" height="265" alt="table" />
    <img src="~/images/logo.jpg" width="335" height="265" />
    <img src="~/images/skewersnsalad.jpg" width="265" height="265" alt="skewers and salad" />
</div>
    
<div class="row">
    <div class="col-md-3">
        <h2></h2>
        <form id="form1" runat="server">

            <table cellpadding="5">

                <tr>

                    <td>
                    

                    </td>

                </tr>

            </table>

        </form>
    </div>
    <div class="col-lg-3">
        <h2>Menu Examples </h2>
        <ul>
            <li><a href="https://docs.google.com/document/d/1cdEmhWgyFOeenbsim6Y2bGVAvtqkk7DG32ledHtzxNI/edit?usp=sharing" target="_blank">BBQ </a></li>
            <li><a href="https://docs.google.com/document/d/1gqDo1g3risolaDa_FQLYqyp6g1KNYa43hiMfLLJRMBk/edit?usp=sharing" target="_blank">Hawaiian</a></li>
            <li><a href="https://docs.google.com/document/d/1i_QgXi0rdJA8n8-ckJJtuHKi18GCA7c9LEsdjiQwWGM/edit?usp=sharing" target="_blank">Brunch</a></li>
            <li><a href="https://docs.google.com/document/d/1HHAfyM7-ksd98qQt9iIznRRLnFgK4pM131Fc0PMpolY/edit?usp=sharing" target="_blank">Lunch</a></li>
            <li><a href="https://docs.google.com/document/d/1HHAfyM7-ksd98qQt9iIznRRLnFgK4pM131Fc0PMpolY/edit?usp=sharing" target="_blank">Dinner</a></li>
            <li><a href="https://docs.google.com/document/d/1JBhp7jZxYOx5Oyabs6qiBJFXm_ggDwAMjs5XxBVYg1U/edit?usp=sharing" target="_blank">Appetizers</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <h2>To Place an Order:</h2><a href="https://www.facebook.com/pg/yarbroughscatering/about/?ref =page_internal" target="_blank"> <img src="~/images/FindUs-FB-RGB-BRC-Site-500.png" width="200" height="40" /></a>
    </div>

</div>
